$appBackground: #303030;

@mixin inColumn() {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container {
  min-height: 100vh;
  background-color: $appBackground;
  color: white;

  .formulaire {
    height: 100vh;
    background-color: aliceblue;

    .openDataForm {
      @include inColumn();
      justify-content: space-around;
    }

    .openDataForm-choice {
      @include inColumn();
      justify-content: center;
      align-items: center;

      input {
        margin: 5% 0;
      }

      button {
        width: 100%;
        margin: 5% 0;
      }

      span {
        color: $appBackground;
      }
    }
  }

  .body {
    height: 100vh;
    padding: 2%;
    overflow-y: scroll;
    overflow-x: hidden;

    .cards {
      min-height: 95%;
      border-radius: 1rem;
      background-color: #454545;
      margin-bottom: 6%;

      span {
        font-weight: bold;
      }
    }
  }

  .navbar {
    background-color: aliceblue;
  }
}