$appBackground: #303030;

#container {
  min-height: 100vh;
  background-color: $appBackground;
  color: white;

  .formulaire {
    height: 100vh;
    background-color: aliceblue;

    .openDataForm {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }

  .body {
    height: 100vh;
    padding: 2%;
    overflow-y: scroll;
    overflow-x: hidden;

    .cards {
      min-height: 95%;
      border-radius: 1rem;
      background-color: #454545;
      margin-bottom: 6%;

      span {
        font-weight: bold;
      }
    }
  }
}